.todo{
    display: flex;
    justify-content: space-between;
    background-color: violet;
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;
    align-items: center;
}
.todo >p{
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    
}
.btn{
    cursor: pointer;
}
.btn:hover{
    color: red;
}